body {
    margin: 0px;
    background-color: black;
}
img.head {
    width: 45%;
    height: 45%;
}
header {
    text-align: center;
    background-color: black;
    margin: 0px;
}
nav.pri {
    background-color: rgb(153, 34, 34);
    margin: 0px;
    padding: 0px;
}
ul.pri {
    text-align: center;
    margin: 0px;
    padding: 10px;
    border: 10px;
}
li.pri {
    display: inline;
    margin: 0px;
    padding: 10px;
    border: 10px;
}

/*Estilo del menu principal*/
nav.calen {
    background-color: red;
    position:static;
    margin: 0px;
    padding: 0px;
    margin-top: 5px;
    height: 80px;
}

/*Estilo de los botones del menu principal*/
.boton {
    border: 1px skyblue;
    padding: 10px;
    background-color: rgb(78, 225, 225);
    color: #ffffff;
    text-decoration: none;
    text-transform:none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
}

/*Estilo de los botones indice del calendario con imagenes [calenadrio2023]*/
.calbot {
    border: 1px skyblue;
    padding: 10px;
    background-color: rgb(78, 225, 225);
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 5px;
}

/*Estilo de la table que contiene los calendarios [calendari2023]*/
table.cal {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: antiquewhite;
}

/*Estilo de la table (de los meses) dentor del table grande [calendari2023]*/
table.cali {
    width: 100%;
    height: 92%;
    border: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: rgb(112, 39, 39);
}

/*Estilo de los td que contienen los nombres de los meses [calendari2023]*/
td.cal {
    background-color: greenyellow;
}

/*Estilo de las capsulas de los calendarios dentro del table grande [calendari2023]*/
th.cal {
    border: 1px solid black;
    border: "1";
    border-radius: 10%;
    padding-top: 0px;
    background-color: green;
}

/* Estilo de las capsulas de los calenadrios dentro del table grande de los fines de semana [calendari2023]*/
th.calfinde {
    border: 1px solid black;
    border: 1;
    border-radius: 10%;
    padding-top: 0px;
    background-color: rgb(255, 0, 0);
}

/*Estilo del caption Calendario 2023 [calendari2023]*/
.tit {
    font-size: large;
    margin: 0px;
    padding: 10px;
    background-color: blanchedalmond;
}

/*Estilo de las imagenes calendario de la section [calendario2023]*/
img.calend {
    text-align: center;
    background-color: rgb(200, 26, 26);
    margin: 10px;
    height: 50%;
    width: 50%;
}

/*Estilo de la section que contiene las imagenes de calenadrio [calendario2023]*/
section.calenda {
    text-align: center;
}

/*Estilo del article qu contiene el iframe [iframe*/
article.ifr {
    text-align: center;
    padding: 50px;
    margin: 50px;
    margin-top: 30px;
}

/*Estilo del iframe [iframe]*/
iframe.ifr {
    height: 600px ;
    width: 1000px ;
}

/*Estilo del formulario [formulario.html]*/
form {
    color: aqua;
    text-align: left;
    padding-left: 20%;
    margin-bottom: 20px;
}

/*Estilo de los apartados del formulario [formulario.html]*/
.apart {
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
}

/*Estilo del apartado comentario del formulario [formulario.html]*/
.apartc {
    width: 70%;
    text-align: center;
    margin-bottom: 10px;
    height: 90px;
}

/*Estilo de los botones reset y submit [formulario.html]*/
.bresub {
    border: 1px rgb(32, 87, 109);
    padding: 10px;
    background-color: rgb(78, 225, 225);
    color: #ffffff;
    text-decoration: none;
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-right: 10px;
}

/*Estilo del texto de <h2> [index.html]*/
h2.ind {
    color: antiquewhite;
    padding-left: 10px;
}

/*Estilo del texto de los <p> [index.html]*/
p.ind {
    color:white;
    padding: 5px;
    padding-top: 0px;
    padding-right: 30px;
    margin-top: 0px;
    margin: 30px;
    margin-right: 50px;
}

/*Estilo de <li> [index.html]*/
li.ind {
    color: aqua;
    padding: 5px;
    padding-top: 0px;
    padding-right: 30px;
    margin-top: 0px;
    margin: 30px;
    margin-right: 50px;
}

/*Estilo de <ul> [index.html]*/
ul.ind {
    color:white;
    padding: 5px;
    padding-top: 0px;
    margin-top: 0px;
    margin: 10px;
    padding-left: 30px;
}

/*Estilo <span> [index.html]*/
li.ind span {
    color: white;
}

/*Estilo <h3> [index.html]*/
h3.ind {
    color: antiquewhite;
    padding-left: 20px;
}

/*Estilo <h1> [index.html]*/
h1.ind {
    color: whitesmoke;
}

div.ind {
    display: inline-block;
    position: relative;
}

div.indcont {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgb(255, 255, 255);
}

div.indcont a {
    display: block;
    color: #ffffff;
    background-color: rgb(200, 26, 26);
    padding: 5px;
    text-decoration: none;
}

nav.indice {
    background-color: rgb(0, 0, 0);
    margin-left: 25px;
    margin-right: 70%;
    font-size: x-large;
    font-style: italic;
}

li.indice {
    color: blue;
}

li.indice a {
    color: green;
}

a.indice {
    color: rgb(9, 178, 9);
    font-size: xx-large;
}

/*Estilos de la pagina principal*/

article.prin {
    float: left;
    background-color: aquamarine;
    width: 50%;
    height: 900px;
}

p.prin {
    margin-left: 10px;
    margin-right: 20px;
}

aside.prin {
    float: right;
    background-color: aqua;
    width: 50%;
    height: 100%;
    height: 900px ;
}

aside.prin a {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 20px;
}

li.prin {
    margin-top: 10px;
    margin-bottom: 45px;
}

footer {
    display: block;
    text-align: center;
    color: #FFFFFF;
    background-color: #000000;
}