
h1 {
    background-color: rgb(185, 181, 181);
    text-align: center;
}

a {
    text-align: center;
    float: right;
    width: 100%;
}

p span {
    color: blue;
}

td span {
    background-color: blue;
}

td.trey {
    background-color: yellow;
    text-align: center;
}

th.bggrey {
    background-color: grey;
}

td.bggrey {
    background-color: grey;
}
.venr {
    background-color: red;
}

.venv {
    background-color: green;
}
